.btnlogin1 {
  color: #121417;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;
  display: inline-flex;
  align-items: center;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.btnregister1 {
  color: #ffffff;
  background-color: #121417;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;
}

.iconlogin {
  margin-right: 4px;
  vertical-align: middle;
  width: 20px;
  height: 20px;
}

.div {
  display: flex;
  gap: 8px;
}

.h2 {
  font-size: 40px;
  font-weight: 500;
  line-height: 48px;
  letter-spacing: -0.02em;
  text-align: left;
  margin: auto;
}

.p {
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  text-align: left;
}

.inputField {
  border: 1px solid rgba(18, 20, 23, 0.1);
  border-radius: 12px;
  padding: 12px 12px;
  font-size: 16px;
  color: #121417;
  width: 100%;
  margin-bottom: 8px;
}

.authForm {
  padding: 24px;
  width: 438px;
}

.btnlogin {
  color: #121417;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.25;
  border: none;
  cursor: pointer;
  background-color: #9fb7ce;
  width: 100%;
  margin-top: 16px;
}
.btnregister {
  color: #121417;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.25;
  border: none;
  cursor: pointer;
  background-color: #9fb7ce;
  width: 100%;
  margin-top: 16px;
}
