body {
  width: 375px;
  margin: 0 auto;
  padding-top: 18px;
}

.main {
  width: 335px;
  border-radius: 30px;
  background-color: #262626;
  margin-bottom: 12px;
}

.header {
  font-weight: 700;
  font-size: 32px;
  line-height: 100%;
  letter-spacing: 0.02em;
  color: #f9f9f9;
  margin-top: 12px;
  padding-bottom: 20px;
}

span {
  color: rgba(227, 227, 227, 0.5);
}

.icon {
  display: block;
  padding: 18px;
}

.iphone {
  padding: 20px 40px;
}
