.form {
  padding-top: 24px;
  display: flex;
  gap: 12px;
}

.label {
  font-weight: 500;
  font-size: 14px;
  line-height: 129%;
  color: #8a8a89;
  text-align: left;
}
.select {
  font-weight: 500;
  font-size: 18px;
  line-height: 111%;
  color: #121417;
  border-radius: 14px;
  padding: 8px;
  border: none;
}
.filter {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
